parameters:
	paths:
		- ../../src
	excludePaths:
		- ../../src/Guzzle5
	bootstrapFiles:
		- vendor/autoload.php
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		-
			message: '#^Method Prestashop\\ModuleLibGuzzleAdapter\\VersionDetection\:\:getGuzzleMajorVersionNumber\(\) has no return type specified.$#'
			path: ../../src/VersionDetection.php
		-
			message: '#^Invalid type Http\\Client\\Exception to throw.$#'
			path: ../../src/Guzzle7/Promise.php

	level: 6
